# ignore any virtual environment 
# pyProject

# python files (downloaded)

# jupyter notebook checkpoints
python/.ipynb_checkpoints
pyProject/.ipynb_checkpoints
pyProject/Include
pyProject/Lib
pyProject/Scripts
pyProject/pyvenv.cfg

# any executable
*.exe
*.exe.stackdump

