* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Poppins, sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding: 3em;
}

.container h1 {
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
}

.question-container {
	max-width: 700px;
	margin: auto;
	border-bottom: 3px solid #ccc;
	margin-bottom: 20px;
}

.question {
	font-size: 16px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.icon {
	font-size: 25px;
	color: #616161;
	cursor: pointer;
}

.answer {
	display: none;
	margin: 8px;
	font-size: 14px;
}

pre {
	text-align-last: left;
	white-space: pre-line;
}

img {
	width: 60%;
	height: auto;
}
